<% if @tables.any? %>
  <% @tables.each do |table| %>
    <h2><%= table.name %></h2>
    <h2><%= table.postcode %></h2>
  <% end %>
<% else %>
  <h1>No tables yet</h1>
<% end %>

<a href='/tables/new'>Add a table</a>

<%= @hash.to_json %>



<% @nearby_tables.each do |eachtable| %>
  <% eachtable.nearbys(10).each do |table| %>
    <li><%= link_to table.address, table %> (<%= table.distance.round(2) %> miles)</li>
  <% end %>
<% end %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
  var handler = Gmaps.build('Google');
  handler.buildMap({provider: {zoom:15}, internal: {id: 'map'} }, function(){
    if(navigator.geolocation)
      navigator.geolocation.getCurrentPosition(displayOnMap);
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  });

  function displayOnMap(position){
    var marker = handler.addMarker({
      lat: position.coords.latitude,
      lng: position.coords.longitude
    });
    handler.map.centerOn(marker);
  }


</script>
